body {
	font-family: Arial, sans-serif;
	background-image: url('../images/wood.jpg');
}

h1 {
	font-size: 2.5em;
	margin: 26px 0px 10px 0px;
}

h2 {
	font-size: 1.5em;
	margin: 0px 0px 30px 0px; 
}

.content {
	margin: 20px auto 20px auto;
	padding: 20px 40px;
	border: 26px #EEEEEE solid;
	border-radius: 20px;
}