<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Hike confirmation</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/confirmation.css}" href="../static/css/confirmation.css" />
</head>

<body>
	<div class="content" >
	<h1>Dear Hiker,</h1>
	<h2>Thank you for using application services</h2>
	<a href="/">Return to Hike Factory</a>
	</div>
</body>
</html>